version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
      - backend_data:/app/data
    env_file:
      - ./backend/.env
    environment:
      - PORT=5001
      - USE_RELOADER=false

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  backend_data:
